@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We ensure that your private data is kept safe under recommended GDPR guidelines. You can also delete all the personally identifying data we have about you.</p>
